<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>

  <%= @trip.user.id %>
</p>

<p>
  <strong>Trip ID:</strong>
   <%= @trip.id %>
  
</p>

<p>
  <strong>Statustime:</strong>
  
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<hr> <hr>

<!-------------------------Status Form----------------------------------->

<%= simple_form_for([@trip, @trip.status_times.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
     
    <%= f.input :status, collection: [ "On Duty Not Driving", "Driving", 
                    "Off Duty", "In Sleeper"], prompt: "Select Status"  %>
    <%= f.input :notes %>
    <%= f.input :location %>
   
    
   
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-mini btn-success' %>
  </div>
<% end %>

<!--------------------End Status Form----------------------------------->

