<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @status_time.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @status_time.notes %>
</p>

<p>
  <strong>Trip ID:</strong>
  <%= @status_time.trip_id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @status_time.user_id %>
  
</p>

<%= link_to 'Edit', edit_status_time_path(@status_time) %> |
<%= link_to 'Back', status_times_path %>
