<p id="notice"><%= notice %></p>

<p>
  <strong>Driving Status:</strong>
  <%= @status_time.status %>
</p>

<p>
  <strong>Status Time:</strong>
  <%= @status_time.created_at.strftime("%b %d, %Y || %I:%M:%S:%p") %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @status_time.notes %>
</p>

<p>
  <strong>Location:</strong>
  <%= @status_time.location %>
</p>

<p>
  <strong>Status record:</strong>
  <%=  %>
</p>

<%= link_to 'Edit', edit_status_time_path(@status_time) %> |
<%= link_to 'Back', status_times_path %>
