<%= simple_form_for(@status_record) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :group_id %>
    <%= f.association :user %>
    
    <%= render 'shared/index' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
